.text_title_01 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; LINE-HEIGHT: 130%
}
.text10 {
	FONT-SIZE: 10px; LINE-HEIGHT: 130%
}
.text12 {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
.text14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 140%
}
.text14_s {  font-size: 14px; line-height: 120%}
.line_h {  line-height: 135%}
.text12_tw {  font-size: 12px; line-height: 130%; letter-spacing: 1px}
.text12_01 {  font-size: 12px; line-height: 140%; letter-spacing: 1px}
