body.mceContentBody {
font: 12px "メイリオ", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, sans-serif;
line-height:200%;
}

body.mceContentBody p { margin:0px;
padding:0px;}

.editor-area a {
color: #CC8888 !important;
text-decoration: none;
}

.editor-area a:hover {
color: #CC8888 !important;
text-decoration: underline;
}

.editor-area img {
    padding: 0;
    max-width: 100%;
}
.editor-area img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.editor-area img.alignright {
    padding: 5px;
    margin: 0 0 2px 7px;
    display: inline;
}
.editor-area img.alignleft {
    padding: 5px;
    margin: 0 7px 2px 0;
    display: inline;
}
.editor-area .alignright {
    float: right;
}
.editor-area .alignleft {
    float: left;
}

.basictable{border-collapse: collapse;border-spacing: 0;}

.basictable td{padding:5px;
border:1px solid #ccc;
font-size:14px;
vertical-align:middle;
line-height:18px;}

.link_style01{
    color:#217EBF;
}

.link_style01:before{
    font-family: FontAwesome;
    content:'\f0da\00a0';
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    zoom:1;
}
img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
    zoom:1;
}
img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
    zoom:1;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}

/*float*/
.fr {
    float: right;
display: inline;
}
.fl {
    float: left;
display: inline;
}
.cl { clear:both;}
.db { display:block;}
/*margin&padding*/
.am {
    margin-right: auto;
    margin-left: auto;
    display:block;
}

img { max-width:100%;}

/*clearfix*/

.clearfix:after{
    content:".";
    display: block;
    height:0px;
    clear:both;
    line-height:0;
    visibility:hidden;
}
 .clearfix {
    zoom:1;/*for IE 5.5-7*/
}