@charset "utf-8";
/* CSS Document */

html	{
	background-color: #dbfee9;
	}

body	{
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
	min-width: 1000px;
	font-size: 100%; /* 16px */
	color: #000;
	line-height: 1.5;
	}

.mobNone	{
	display: block;
	}

/* =============================================================================
   container
   ========================================================================== */
.container	{
	width: 1000px;
	background-color: #fff;
	margin: 0 auto;
	}

/* =============================================================================
   header
   ========================================================================== */
.header .unitFirst	{
	width: 1000px;
	height: 32px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ccc;
	font-size: 75%; /* 12px */
	color: #333;
	line-height: 32px;
	}
.header .unitFirst .description	{
	float: left;
	width: 700px;
	letter-spacing: 0.1em;
	padding-left: 20px;
	}
.header .unitFirst .headerNavi	{
	float: right;
	width: 280px;
	}
.header .unitFirst .headerNavi li	{
	float: left;
	background: url(../images/header_navi_icon01.png) left 50% no-repeat;
	letter-spacing: 0.1em;
	padding-left: 10px;
	margin-left: 15px;
	}
.header .unitFirst .headerNavi li a	{
	color: #333;
	text-decoration: none;
	}
.header .unitFirst .headerNavi li:first-child	{
	margin-left: 0;
	}

.header .unitLast	{
	width: 1000px;
	height: 98px;
	}
.header .unitLast .logo	{
	float: left;
	width: 262px;
	padding: 19px 122px 17px 20px;
	}
.header .unitLast .navi	{
	float: left;
	width: 596px;
	padding: 19px 0 17px 0;
	}
.header .unitLast .navi li	{
	float: left;
	}
.header .unitLast .navi li a:hover img	{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
	}

/* =============================================================================
   footer
   ========================================================================== */
.footer	{
	background: url(../images/footer_bg.jpg) center bottom no-repeat;
	padding: 50px 0 220px 0;
	}
.footer .logo	{
	width: 204px;
	margin: 0 auto 30px auto;
	}
.footer .sns	{
	display: table;
	width: 171px;
	margin: 0 auto 35px auto;
	}
.footer .sns li	{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 25px;
	}
.footer .sns li:first-child	{
	padding-left: 0;
	}
.footer .footerNavi {
    letter-spacing: -.40em;
	text-align: center;
	}
.footer .footerNavi li {
    display: inline-block;
	font-size: 88%; /* 14px */
    letter-spacing: normal;
	line-height: 1.5;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
	padding: 0 15px;
	}
.footer .footerNavi li a	{
	color: #000;
	text-decoration: none;
	}
.footer .pagetop a	{
	display: block;
	width: 52px;
	float: right;
	}
.footer .copyright	{
	text-align: center;
	font-size: 88%; /* 14px */
	}
.p_footer .copyright{text-align:center; font-size:88%;margin:20px 0;}

/* =============================================================================
   index
   ========================================================================== */
.home .mainVisual	{
	border-top: 2px solid #1e7238;
	border-bottom: 1px solid #1e7238;
	}
.home .newsList .newsTtl	{
	height: 36px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	font-size: 119%; /* 19px */
	line-height: 36px;
	color: #fff;
	padding-left: 22px;
	}
.home .newsList ul li	{
	background: url(../images/index_arrow01.png) 96.4% 50% no-repeat;
	border-bottom: 1px solid #ccc;
	padding: 25px;
	position: relative;
	}
.home .newsList ul li a	{
    position: relative;
    display: block;
	line-height: 1.5;
	color: #1e7238;
	text-decoration: none;
	overflow: hidden;
    /*padding-left: 11em;*/
	}
.home .newsList ul li .text {
	overflow: hidden;
}
.home .newsList ul li time {
    display: block;
    left: 0;
    position: static;
    top: 0;
    width: 9em;
	color: #000;
	float: left;
}
.home .indexUnit01	{
	background: url(../images/index_bg01.jpg) center bottom no-repeat;
	padding-bottom: 55px;
	}
.home .indexUnit01 .productsArea	{
	margin-bottom: 90px;
	}
.home .indexUnit01 .productsArea .ttl	{
	width: 846px;
	padding: 65px 0 35px 0;
	margin: 0 auto;
	}
.home .indexUnit01 .productsArea .ttl img	{
	width: 846px;
	height: auto;
	}
.home .indexUnit01 .productsArea .photoList01	{
	width: 600px;
	display: table;
	margin: 0 auto 40px auto;
	}
.home .indexUnit01 .productsArea .photoList01 li	{
	width: 291px;
	display: table-cell;
	}
.home .indexUnit01 .productsArea .photoList01 li:first-child	{
	padding-right: 18px;
	}
.home .indexUnit01 .productsArea .photoList01 li img	{
	width: 291px;
	height: auto;
	}
.home .indexUnit01 .productsArea .photoList02	{
	width: 877px;
	display: table;
	margin: 0 auto 50px auto;
	}
.home .indexUnit01 .productsArea .photoList02 li	{
	width: 269px;
	display: table-cell;
	padding-left: 35px;
	}
.home .indexUnit01 .productsArea .photoList02 li:first-child	{
	padding-left: 0;
	}
.home .indexUnit01 .productsArea .photoList02 li img	{
	width: 269px;
	height: auto;
	}
.home .indexUnit01 .productsArea .btn a	{
	display: block;
	width: 179px;
	height: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	box-shadow: 3px 3px 0px 0px #989998;
	-moz-box-shadow: 3px 3px 0px 0px #989998;
	-webkit-box-shadow: 3px 3px 0px 0px #989998;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 20px 29px 20px 28px;
	margin: 0 auto;
	}
.home .indexUnit01 .productsArea .btn a:hover img	{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
	}
.home .indexUnit01 .ecoArea	{
	width: 648px;
	margin: 0 auto;
	}
.home .indexUnit01 .ecoArea .visual	{
	margin-bottom: 35px;
	}
.home .indexUnit01 .ecoArea .visual img	{
	width: 648px;
	height: auto;
	}
.home .indexUnit01 .ecoArea .btn a	{
	display: block;
	width: 189px;
	height: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	box-shadow: 3px 3px 0px 0px #989998;
	-moz-box-shadow: 3px 3px 0px 0px #989998;
	-webkit-box-shadow: 3px 3px 0px 0px #989998;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 20px 24px 20px 23px;
	margin: 0 auto;
	}
.home .indexUnit01 .ecoArea .btn a:hover img	{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
	}
.home .indexUnit02 .recruitArea	{
	height: 167px;
	background: url(../images/index_bg02.jpg) center top no-repeat;
	padding: 175px 0 0 0;
	}
.home .indexUnit02 .recruitArea .ttl	{
	width: 675px;
	margin: 0 auto 15px auto;
	}
.home .indexUnit02 .recruitArea .ttl img	{
	width: 675px;
	height: auto;
	}
.home .indexUnit02 .recruitArea .entryBtn a	{
	display: block;
	width: 234px;
	margin: 0 auto;
	}
.home .indexUnit02 .recruitArea .entryBtn a img	{
	width: 234px;
	height: auto;
	}
.home .indexUnit03	{
	background-color: #82ccde;
	padding: 15px 0;
	}
.home .indexUnit03 ul	{
	width: 924px;
	display: table;
	margin: 0 auto;
	}
.home .indexUnit03 ul li	{
	width: 447px;
	display: table-cell;
	}
.home .indexUnit03 ul li:first-child	{
	padding-right: 30px;
	}
.home .indexUnit03 ul li a	{
	display: block;
	width: 447px;
	background-color: #000;
	}
.home .indexUnit03 ul li a img	{
	width: 447px;
	height: auto;
	}
.home .indexUnit03 ul li a:hover img	{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
	}


.home .indexUnit04	{
	padding: 55px 0 10px 30px;
	}
.home .indexUnit04 .clientArea .ttl	{
	margin-bottom: 30px;
	}
.home .indexUnit04 .clientArea .ttl img	{
	width: 313px;
	height:auto;
	}
.home .indexUnit04 .clientArea ul li	{
	float: left;
	display: table;
	width: 320px;
	margin-bottom: 30px;
	}
.home .indexUnit04 .clientArea ul li .photo	{
	display: table-cell;
	vertical-align: top;
	width: 94px;
	}
.home .indexUnit04 .clientArea ul li .photo img	{
	width: 94px;
	height: auto;
	}
.home .indexUnit04 .clientArea ul li dl	{
	display: table-cell;
	width: 200px;
	vertical-align: top;
	line-height: 1.5;
	padding: 0 20px 0 6px;
	}
.home .indexUnit04 .clientArea ul li dl dt	{
	color: #1e7238;
	margin-bottom: 5px;
	}
.home .indexUnit04 .clientArea ul li dl dd	{
	font-size: 82%; /* 13px */
	}

/* スライダー */
.bxslider-wrapper	{
	width: 100%;
	margin: 0 auto;
	z-index: 20;
	}
.bxslider-wrapper .bx-wrapper {
	position: relative;
	width: 100%;
	/*margin: 0 auto 60px;*/
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
	z-index: 10;
	}
.bxslider-wrapper .bx-wrapper img {
	/*max-width: 100%;*/
	width: 100%;
	display: block;
	}
.bxslider-wrapper .bx-wrapper .bx-viewport {
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
	}
.bxslider-wrapper .bx-wrapper .bx-pager {
	position: absolute;
	bottom: 20px;
	width: 100%;
	z-index: 20;
	}
/* PAGER */
.bxslider-wrapper .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #2f4d93;
	padding-top: 0px;
	}
.bxslider-wrapper .bx-wrapper .bx-pager .bx-pager-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	}
.bxslider-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
	background: #2f4d93;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
.bxslider-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bxslider-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #eb5c02;
	}

/* =============================================================================
   under
   ========================================================================== */

/* パンくずリスト */
.pagePath	{
	background-color: #ccc;
	padding: 15px 0 15px 25px;
	margin-bottom: 55px;
	}
.pagePath li	{
	float: left;
	background: url(../images/page_path.png) left 50% no-repeat;
	font-size: 88%;
	color: #333;
	padding-left: 14px;
	margin-left: 5px;
	}
.pagePath li:first-child	{
	background: none;
	padding-left: 0;
	margin-left: 0;
	}
.pagePath li a	{
	color: #1e7238;
	text-decoration: none;
}

.pagePath a	{
	float: left;
	background: url(../images/page_path.png) right 50% no-repeat;
	font-size: 88%;
	color: #333;
	padding-right: 14px;
	margin-right: 5px;
}
.pagePath a:first-child	{
	/*background: none;
	padding-left: 0;
	margin-left: 0;*/
}
.pagePath a{
	color: #1e7238;
	text-decoration: none;
}
.breadcrumb_last {
	font-size: 88%;
	color: #333;
	float: left;
}

/* 下層ページ画像入りタイトル */
.companyTtl	{
	background: #1e7238 url(../images/company_ttl_bg.jpg) right top no-repeat;
	height: 185px;
	line-height: 185px;
	padding-left: 25px;
	}
.ecoTtl	{
	background: #1e7238 url(../images/eco_ttl_bg.jpg) right top no-repeat;
	height: 185px;
	line-height: 185px;
	padding-left: 25px;
	}
.productsTtl	{
	background: #1e7238 url(../images/products_ttl_bg.jpg) right top no-repeat;
	height: 185px;
	line-height: 185px;
	padding-left: 25px;
	}
.exampleTtl	{
	background: #1e7238 url(../images/example_ttl_bg.jpg) right top no-repeat;
	height: 185px;
	line-height: 185px;
	padding-left: 25px;
	}
.recruitTtl	{
	background: #1e7238 url(../images/recruit_ttl_bg.jpg) right top no-repeat;
	height: 185px;
	line-height: 185px;
	padding-left: 25px;
	}
.contactTtl	{
	background: #1e7238 url(../images/contact_ttl_bg.jpg) right top no-repeat;
	height: 185px;
	line-height: 185px;
	padding-left: 25px;
	}
.newsTtl	{
	background: #1e7238 url(../images/news_ttl_bg.jpg) right top no-repeat;
	height: 185px;
	line-height: 185px;
	padding-left: 25px;
	}
.newsTtl	a{
	color: #FFFFFF;
	text-decoration: none;
	}

/* 外枠 */
.outlineBox	{
	color: #333;
	padding: 0 20px 0 15px;
	margin-top: 50px;
	}

/* 枠 */
.innerBox	{
	padding: 0 20px;
	}

/* 見出し */
.ttlLev1	{
	background: url(../images/ttl_bg01.png) left top no-repeat;
	border-bottom: 1px solid #1e7238;
	line-height: 69px;
	font-size: 225%; /* 36px; */
	padding-left: 20px;
	margin-bottom: 25px;
	}
.ttlLev2	{
	background: #e5e5e5 url(../images/ttl_bg02.png) 20px 50% no-repeat;
	line-height: 50px;
	font-size: 150%;
	padding-left: 50px;
	margin-bottom: 20px;
	}
.ttlLev3	{
	font-size: 113%; /* 18px */
	color: #19814c;
	font-weight: bold;
	}

/* dl */
.dlStyle01	{
	margin-top: 20px;
	}
.dlStyle01 dt	{
	height: 50px;
	line-height: 50px;
	background-color: #e5e5e5;
	font-size: 150%;
	padding-left: 25px;
	margin-bottom: 20px;
	}
.dlStyle01 dd	{
	padding: 0 25px;
	}
.dlStyle01 dd time {
	color: #999;
	}
.dlStyle01 dd a	{
	color: #333;
	text-decoration: underline;
	}
.dlStyle01 dd a:hover	{
	text-decoration: none;
	}
.dlStyle02	{
	text-align: center;
	margin-bottom: 40px;
	}
.dlStyle02 dt	{
	display: inline-block;
	border-bottom: 3px solid #990000;
	font-size: 225%; /* 36px; */
	text-align: center;
	margin-bottom: 25px;
	}
.dlStyle02 dd	{
	text-align: center;
	}

/* table */
.tableStyle01 caption	{
	background: url(../images/caption_bg01.png) left 50% no-repeat;
	font-size: 113%; /* 18px */
	font-weight: bold;
	text-align: left;
	padding-left: 23px;
	margin-bottom: 15px;
	}
.tableStyle01 th	{
	width: 200px;
	background-color: #dbe9e0;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
	padding: 20px 0;
	}
.tableStyle01 td	{
	border: 1px solid #ccc;
	vertical-align: middle;
	padding: 20px 50px;
	}
.tableStyle01 .txtArea	{
	border-right: none;
	}
.tableStyle01 .btnArea	{
	width: 110px;
	border-left: none;
	padding: 20px 10px;
	}
.tableStyle01 .btnArea a:hover img	{
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	}
.tableStyle02 th	{
	width: 200px;
	background-color: #dbe9e0;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0;
	}
.tableStyle02 td	{
	border: 1px solid #ccc;
	vertical-align: middle;
	padding: 10px;
	}


/* table-products */
.tableStyle_p caption	{
	background: url(../images/caption_bg01.png) left 50% no-repeat;
	font-size: 113%; /* 18px */
	font-weight: bold;
	text-align: left;
	padding-left: 23px;
	margin-bottom: 15px;
	}
.tableStyle_p th	{
	width: 230px;
	background-color: #dbe9e0;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: left;
	padding: 20px;
	}
.tableStyle_p td	{
	border: 1px solid #ccc;
	vertical-align: middle;
	padding: 20px;
	}
.tableStyle_p .txtArea	{
	border-right: none;
	}
.tableStyle_p .btnArea	{
	width: 110px;
	border-left: none;
	padding: 20px 10px;
	}
.tableStyle_p .btnArea a:hover img	{
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	}

/* form */
form .tableStyle03 th	{
	width: 140px;
	background-color: #dbe9e0;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: left;
	padding: 20px 10px;
	}
form .tableStyle03 th span	{
	padding-left: 0.5em;
	}
form .tableStyle03 td	{
	border: 1px solid #ccc;
	vertical-align: middle;
	padding: 20px 10px;
	}
form .tableStyle03 td .ul3em li .mark	{
	line-height: 2.5;
	}
form .tableStyle03 td input[type="text"],
form .tableStyle03 td textarea	{
	padding: 0.5em;
	background: none;
	border: 1px solid #ababab;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	}
form .tableStyle03 td select	{
	padding: 0.5em;
	background: none;
	border: 1px solid #ababab;
	border-radius: 0;
	outline: none;
	}
form .tableStyle03 td input[type="text"].boxSize3em	{
	width: 2em;
	}
form .tableStyle03 td input[type="text"].boxSize4em	{
	width: 3em;
	}
form .tableStyle03 td label	{
	padding-right: 1em;
	}
form .btnArea	{
	width: 540px;
	margin: 40px auto 0 auto;
	}
form .btnArea li	{
	float: left;
	width: 240px;
	margin-left: 60px;
	}
form .btnArea li:first-child	{
	margin-left: 0;
	}
form .btnArea li input[type="reset"],
form .btnArea li input[type="submit"]	{
	display: block;
	width: 240px;
	height: 60px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	box-shadow: 3px 3px 0px 0px #989998;
	-moz-box-shadow: 3px 3px 0px 0px #989998;
	-webkit-box-shadow: 3px 3px 0px 0px #989998;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-align: center;
	line-height: 60px;
	font-size: 125%; /* 20px */
	color: #fff;
	border: none;
	}

/* ul */
.ul2em li	{
    position: relative;
    display: block;
    padding-left: 2em;
	overflow: hidden;
	}
.ul2em li .mark {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 2em;
	}
.ul3em li	{
    position: relative;
    display: block;
    padding-left: 3em;
	overflow: hidden;
	}
.ul3em li .mark {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 2em;
	}

/* =============================================================================
   company
   ========================================================================== */
.company .companyVisual	{
	width: 885px;
	border:1px solid #ababab;
	margin: 0 auto 25px auto;
	}
.company .companyVisual img	{
	width: 885px;
	height: auto;
	}

.company .indexUnit_movie img{
	margin: 0 auto;
	box-shadow: 2px 2px 5px #666;
	-webkit-box-shadow: 2px 2px 5px #666;
	-moz-box-shadow: 2px 2px 5px #666;
	}

/* =============================================================================
   eco
   ========================================================================== */
.eco .ecoVisual	{
	width: 760px;
	border:1px solid #ababab;
	margin: 20px auto 0 auto;
	}
.eco .ecoVisual img	{
	width: 760px;
	height: auto;
	}

/* =============================================================================
   products
   ========================================================================== */
.products .products2Col .photo	{
	float: left;
	width: 177px;
	}
.products .products2Col .txt	{
	float: right;
	width: 718px;
	}
.products .goodsList5Col,
.products .goodsList3Col,
.products .goodsList2Col	{
	margin-top: 8px;
	}
.products .goodsList5Col li,
.products .goodsList3Col li,
.products .goodsList2Col li	{
	float: left;
	height: 50px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	color: #fff;
	text-align: center;
	line-height: 50px;
	margin-left: 8px;
	}
.products .goodsList5Col li	{
	width: 178px;
	}
.products .goodsList2Col li	a,
.products .goodsList3Col li	a,
.products .goodsList5Col li	a{
	color: #fff;
	text-decoration: none;
	}
.products .goodsList3Col li	{
	width: 303px;
	}
.products .goodsList2Col li	{
	width: 458px;
	}
.products .goodsList5Col li:first-child,
.products .goodsList3Col li:first-child,
.products .goodsList2Col li:first-child	{
	margin-left: 0;
	}

.products h5{background-color: #dbe9e0;text-align: center;padding:5px;font-size:120%;}

/* =============================================================================
   example
   ========================================================================== */
.example .example2Col .photo	{
	float: right;
	width: 200px;
	}
.example .example2Col .photo .caption	{
	font-size: 75%;
	text-align: right;
	margin-top: 5px;
	}
.example .example2Col .txt	{
	float: left;
	width: 643px;
	border: 1px solid #b2b2b2;
	margin-bottom: 10px;
	}
.example .example2Col .txt dt	{
	background-color: #dbe9e0;
	border-bottom: 1px solid #b2b2b2;
	text-align: center;
	font-weight: bold;
	padding: 5px 0;
	}
.example .example2Col .txt dd	{
	padding: 20px 30px;
	}
.example .example2Col .txt dd ul	{
    letter-spacing: -.40em;
	}
.example .example2Col .txt dd ul li	{
    display: inline-block;
    letter-spacing: normal;
	padding-right: 10px;
	}

/* =============================================================================
   recruit
   ========================================================================== */
.recruit .recruitBtn a	{
	display: block;
	width: 345px;
	height: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	box-shadow: 3px 3px 0px 0px #989998;
	-moz-box-shadow: 3px 3px 0px 0px #989998;
	-webkit-box-shadow: 3px 3px 0px 0px #989998;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 20px 42px 20px 43px;
	margin: 50px auto 0 auto;
	}
.recruit .recruitBtn a:hover img	{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
	}

/* =============================================================================
   common
   ========================================================================== */
.boxRight	{
	text-align: right;
	}
.boxLeft	{
	text-align: left;
	}

.attention	{
	color: #ff0000;
	}

.mt1em	{
	margin-top: 1em;
	}
.mb1em	{
	margin-bottom: 1em;
	}

.pcNone	{
	display: none;
	}


/* =============================================================================
   movie
   ========================================================================== */

.movie{
	width:1000px;
	margin:5% auto;
	text-align:center;
}
.movie .contents video{width:1000px;}


.wp-pagenavi {
	margin-top: 30px;
}
