@charset "utf-8";
/* CSS Document */

@media screen and (max-width:768px){

body	{
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
	min-width: 320px;
	font-size: 12px;
	}

.pcNone	{
	display: block;
	}

/* =============================================================================
   container
   ========================================================================== */
.container	{
	width: 100%;
	overflow: hidden;
	}

/* =============================================================================
   header
   ========================================================================== */
.header	{
	display: table;
	width: 100%;
	}
.menuUnit	{
	display: table-cell;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	}
.header .menuUnit .toggle {
	width: 60px;
	height: 60px;
	background: #1e7238 url(../images/menu.png) 50% 50% no-repeat;
	background-size: 60px 60px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	text-indent: 100%;
	white-space: nowrap;
	}
.header .menuUnit .menu {
    background-color: #1e7238;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 5;
	}
.header .menuUnit .menu li {
	height: 60px;
	line-height: 60px;
    border-bottom: 1px solid #fff;
	}
.header .menuUnit .menu li:last-child {
    border-bottom: none;
	}
.header .menuUnit .menu li a {
    box-sizing: border-box;
    color: #cfe6d6;
    display: inline-block;
    width: 100%;
	text-decoration: none;
	letter-spacing: 0.1em;
	padding: 0 10px;
	}
.header .logo {
    display: table-cell;
    height: 60px;
    text-align: center;
    vertical-align: middle;
	}
.header .logo a {
    display: block;
    line-height: 60px;
    width: 100%;
	}
.header .logo a img {
    height: auto;
    width: 200px;
	}

/* =============================================================================
   footer
   ========================================================================== */
.footer	{
	background: none;
	padding: 25px 0 0 0;
	}
.footer .logo	{
	width: 170px;
	margin: 0 auto 20px auto;
	}
.footer .logo img	{
	width: 170px;
	height: auto;
	}
.footer .sns	{
	display: table;
	width: 90%;
	margin: 0 auto 35px auto;
	}
.footer .sns li	{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 10px;
	}
.footer .sns li:first-child	{
	padding-left: 0;
	}
.footer .footerNavi {
	display: none;
	}
.footer .copyright	{
	width: 100%;
	height: 40px;
	background-color: #1e7238;
	line-height: 40px;
	text-align: center;
	font-size: 84%; /* 10px */
	color: #fff;
	}

/* =============================================================================
   index
   ========================================================================== */
.home .mainVisual	{
	border-top: 2px solid #1e7238;
	border-bottom: 1px solid #1e7238;
	}
.home .mainVisual img	{
	width: 100%;
	height: auto;
	}
.home .newsList ul li a	{
	padding-right: 4.5%;
	}
.home .indexUnit01	{
	background: url(../images/index_bg01.jpg) center bottom no-repeat;
	padding-bottom: 55px;
	}
.home .indexUnit01 .productsArea	{
	margin-bottom: 30px;
	}
.home .indexUnit01 .productsArea .ttl	{
	width: 100%;
	padding: 30px 10px 15px 10px;
	box-sizing: border-box;
	margin: 0 auto;
	}
.home .indexUnit01 .productsArea .ttl img	{
	width: 100%;
	height: auto;
	}
.home .indexUnit01 .productsArea .photoList01	{
	width: 300px;
	display: table;
	margin: 0 auto;
	}
.home .indexUnit01 .productsArea .photoList01 li	{
	width: 145px;
	display: table-cell;
	}
.home .indexUnit01 .productsArea .photoList01 li:first-child	{
	padding-right: 5px;
	}
.home .indexUnit01 .productsArea .photoList01 li img	{
	width: 145px;
	height: auto;
	}
.home .indexUnit01 .productsArea .photoList02	{
	width: 298px;
	display: block;
	margin: 0 auto 20px auto;
	}
.home .indexUnit01 .productsArea .photoList02 li	{
	width: 134px;
	display: block;
	float: left;
	padding-left: 18px;
	margin-top: 5px;
	}
.home .indexUnit01 .productsArea .photoList02 li:nth-child(odd)	{
	padding-left: 11px;
	}
.home .indexUnit01 .productsArea .photoList02 li img	{
	width: 134px;
	height: auto;
	}
.home .indexUnit01 .ecoArea	{
	width: 100%;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
	margin: 0 auto;
	}
.home .indexUnit01 .ecoArea .visual	{
	margin-bottom: 20px;
	}
.home .indexUnit01 .ecoArea .visual img	{
	width: 100%;
	height: auto;
	}
.home .indexUnit02 .recruitArea	{
	height: auto;
	background: url(../images/index_bg02.jpg) center top no-repeat;
	background-size: cover;
	padding: 100px 0 20px 0;
	}
.home .indexUnit02 .recruitArea .ttl	{
	width: 100%;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
	margin: 0 auto 20px auto;
	}
.home .indexUnit02 .recruitArea .ttl img	{
	width: 100%;
	height: auto;
	}
.home .indexUnit03	{
	background-color: #82ccde;
	padding: 10px 0;
	}
.home .indexUnit03 ul	{
	width: 100%;
	display: block;
	margin: 0 auto;
	}
.home .indexUnit03 ul li	{
	width: 300px;
	display: block;
	margin: 10px auto 0 auto;
	}
.home .indexUnit03 ul li:first-child	{
	padding-right: 0;
	margin-top: 0;
	}
.home .indexUnit03 ul li a	{
	width: 300px;
	}
.home .indexUnit03 ul li a img	{
	width: 300px;
	height: auto;
	}
.home .indexUnit04	{
	padding: 20px 10px 0 10px;
	}
.home .indexUnit04 .clientArea .ttl	{
	margin-bottom: 20px;
	}
.home .indexUnit04 .clientArea .ttl img	{
	max-width: 313px;
	width: 100%;
	height:auto;
	}
.home .indexUnit04 .clientArea ul li	{
	float: left;
	display: table;
	width: 100%;
	margin-bottom: 10px;
	}
.home .indexUnit04 .clientArea ul li .photo	{
	display: table-cell;
	vertical-align: top;
	width: 94px;
	}
.home .indexUnit04 .clientArea ul li .photo img	{
	width: 94px;
	height: auto;
	}
.home .indexUnit04 .clientArea ul li dl	{
	display: table-cell;
	width: auto ;
	vertical-align: top;
	line-height: 1.5;
	padding: 0 0 0 6px;
	}
.home .indexUnit04 .clientArea ul li dl dd	{
	font-size: 109%; /* 13px */
	}

/* =============================================================================
   under
   ========================================================================== */

/* パンくずリスト */
.pagePath	{
	display: none;
	}

/* 下層ページ画像入りタイトル */
.companyTtl	{
	background: #1e7238 url(../images/company_ttl_bg.jpg) right bottom top no-repeat;
	background-size: auto 100px;
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	}
.ecoTtl	{
	background: #1e7238 url(../images/eco_ttl_bg.jpg) right bottom top no-repeat;
	background-size: auto 100px;
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	}
.productsTtl	{
	background: #1e7238 url(../images/products_ttl_bg.jpg) right top no-repeat;
	background-size: auto 100px;
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	}
.exampleTtl	{
	background: #1e7238 url(../images/example_ttl_bg.jpg) right top no-repeat;
	background-size: auto 100px;
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	}
.recruitTtl	{
	background: #1e7238 url(../images/recruit_ttl_bg.jpg) right top no-repeat;
	background-size: auto 100px;
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	}
.contactTtl	{
	background: #1e7238 url(../images/contact_ttl_bg.jpg) right top no-repeat;
	background-size: auto 100px;
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	}
.newsTtl	{
	background: #1e7238 url(../images/news_ttl_bg.jpg) right top no-repeat;
	background-size: auto 100px;
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	}

.companyTtl img,
.ecoTtl img,
.productsTtl img,
.exampleTtl img,
.recruitTtl img,
.contactTtl img,
.newsTtl img
	{
	height: 40%;
	width: auto;
	}

/* 外枠 */
.outlineBox	{
	color: #333;
	padding: 0 10px;
	margin-top: 30px;
	}

/* 枠 */
.innerBox	{
	padding: 0;
	}

/* 見出し */
.ttlLev1	{
	height: 40px;
	background: url(../images/ttl_bg01.png) left bottom no-repeat;
	border-bottom: 1px solid #1e7238;
	line-height: 30px;
	font-size: 225%;
	padding-left: 20px;
	margin-bottom: 25px;
	}
.ttlLev2	{
	background: #e5e5e5 url(../images/ttl_bg02.png) 10px 50% no-repeat;
	line-height: 40px;
	font-size: 150%;
	padding-left: 40px;
	margin-bottom: 20px;
	}
.ttlLev3	{
	font-size: 113%; /* 18px */
	color: #19814c;
	font-weight: bold;
	}

/* dl */
.dlStyle01	{
	margin-top: 20px;
	}
.dlStyle01 dt	{
	height: auto;
	line-height: 1.5;
	background-color: #e5e5e5;
	font-size: 150%;
	padding: 10px;
	margin-bottom: 20px;
	}
.dlStyle01 dd	{
	padding: 0 15px;
	}
.dlStyle02	{
	text-align: left;
	margin-bottom: 20px;
	}
.dlStyle02 dt	{
	display: inline-block;
	border-bottom: 3px solid #990000;
	font-size: 150%;
	text-align: left;
	margin-bottom: 25px;
	}
.dlStyle02 dd	{
	text-align: left;
	}

/* table */
.tableStyle01 caption	{
	background: url(../images/caption_bg01.png) left 50% no-repeat;
	font-size: 113%; /* 18px */
	font-weight: bold;
	text-align: left;
	padding-left: 23px;
	margin-bottom: 15px;
	}
.tableStyle01	{
	border-bottom: 1px solid #ccc;
	}
.tableStyle01 th	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-bottom: none;
	padding: 5px;
	}
.tableStyle01 td	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-bottom: none;
	padding: 5px;
	}
.tableStyle01 .txtArea	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-left:  1px solid #ccc;
	border-right:  1px solid #ccc;
	border-bottom: none;
	padding: 5px;
	}
.tableStyle01 .btnArea	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-left:  1px solid #ccc;
	border-right:  1px solid #ccc;
	border-top: none;
	border-bottom: none;
	padding: 5px;
	text-align: center;
	}
.tableStyle02	{
	border-bottom: 1px solid #ccc;
	}
.tableStyle02 th	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-bottom: none;
	padding: 5px;
	}
.tableStyle02 td	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-bottom: none;
	padding: 5px;
	}

/* form */
form .tableStyle03	{
	border-bottom: 1px solid #ccc;
	}
form .tableStyle03 th	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-bottom: none;
	padding: 1em;
	text-align: center;
	}
form .tableStyle03 td	{
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-bottom: none;
	padding: 1em;
	}
form .tableStyle03 td input[type="text"],
form .tableStyle03 td textarea	{
	width: 100%;
	box-sizing: border-box;
	}
form .tableStyle03 td input[type="text"].boxSize3em	{
	width: 5em;
	}
form .tableStyle03 td input[type="text"].boxSize4em	{
	width: 8em;
	}
form .tableStyle03 td .notes	{
	display: block;
	margin-top: 5px;
	}
form .btnArea	{
	width: 100%;
	margin: 20px auto 0 auto;
	}
form .btnArea li	{
	float: none;
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
	}
form .btnArea li:first-child	{
	margin-top: 0;
	}
form .btnArea li input[type="reset"],
form .btnArea li input[type="submit"]	{
	display: block;
	width: 100%;
	height: 60px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	box-shadow: 3px 3px 0px 0px #989998;
	-moz-box-shadow: 3px 3px 0px 0px #989998;
	-webkit-box-shadow: 3px 3px 0px 0px #989998;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-align: center;
	line-height: 60px;
	font-size: 125%; /* 20px */
	color: #fff;
	border: none;
	box-sizing: border-box;
	}

/* =============================================================================
   company
   ========================================================================== */
.company .companyVisual	{
	width: 100%;
	border:1px solid #ababab;
	box-sizing: border-box;
	margin: 0 auto 25px auto;
	}
.company .companyVisual img	{
	width: 100%;
	height: auto;
	}

/* =============================================================================
   eco
   ========================================================================== */
.eco .ecoVisual	{
	width: 100%;
	border:1px solid #ababab;
	box-sizing: border-box;
	margin: 20px auto 0 auto;
	}
.eco .ecoVisual img	{
	width: 100%;
	height: auto;
	}

/* =============================================================================
   products
   ========================================================================== */
.products .products2Col .photo	{
	float: none;
	width: 177px;
	margin: 0 auto;
	}
.products .products2Col .txt	{
	float: none;
	width: 100%;
	}
.products .goodsList5Col,
.products .goodsList3Col,
.products .goodsList2Col	{
	margin-top: 0;
	}
.products .goodsList5Col li,
.products .goodsList3Col li,
.products .goodsList2Col li	{
	float: none;
	height: 50px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	color: #fff;
	text-align: center;
	line-height: 50px;
	margin-left: 0;
	margin-top: 5px;
	}
.products .goodsList5Col li	{
	width: 100%;
	}
.products .goodsList3Col li	{
	width: 100%;
	}
.products .goodsList2Col li	{
	width: 100%;
	}
.products .goodsList5Col li:nth-child(odd),
.products .goodsList3Col li:nth-child(odd),
.products .goodsList2Col li:nth-child(odd)	{
	margin-left: 0;
	}

/* =============================================================================
   example
   ========================================================================== */
.example .example2Col .photo	{
	float: none;
	width: 200px;
	margin: 0 auto 10px auto;
	}
.example .example2Col .photo .caption	{
	text-align: center;
	}
.example .example2Col .txt	{
	float: none;
	width: 100%;
	margin-bottom: 10px;
	}
.example .example2Col .txt dd	{
	padding: 10px;
	}

/* =============================================================================
   recruit
   ========================================================================== */
.recruit .recruitBtn a	{
	display: block;
	width: 280px;
	height: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1e7238), color-stop(0.00, #1d8d40));
	background: -webkit-linear-gradient(#1d8d40, #1e7238);
	background: -moz-linear-gradient(#1d8d40, #1e7238);
	background: -o-linear-gradient(#1d8d40, #1e7238);
	background: -ms-linear-gradient(#1d8d40, #1e7238);
	background: linear-gradient(#1d8d40, #1e7238);
	box-shadow: 3px 3px 0px 0px #989998;
	-moz-box-shadow: 3px 3px 0px 0px #989998;
	-webkit-box-shadow: 3px 3px 0px 0px #989998;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 20px 10px 20px 10px;
	margin: 20px auto 0 auto;
	}
.recruit .recruitBtn a img	{
	width: 280px;
	height: auto;
	}
.recruit .recruitBtn a:hover img	{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
	}

/* =============================================================================
   common
   ========================================================================== */
.mobNone	{
	display: none;
	}

.pcOnly	{
	display: none;
	}


}

/* =============================================================================
   clearfix
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* For IE 6/7 only */
.clearfix {
    *zoom: 1;
}

/* =============================================================================
   movie
   ========================================================================== */

.movie{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.movie .contents video{width:100%;}
