@charset "utf-8";

/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */


html	{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-y: scroll;
	}

body	{
	line-height: 1;
	}

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td,
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
    background: transparent;
	}


/* ==========================================================================
	HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary	{
	display: block;
	}


/* ==========================================================================
	Links
   ========================================================================== */
a	{
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	}

a:active, a:hover	{
	outline: 0;
	outline-width: 0;
	}
a:focus	{
	outline: thin dotted;
	}


/* ==========================================================================
	Forms
   ========================================================================== */
button, input, select, textarea	{
	font: inherit; /* 1 */
	margin: 0; /* 2 */
	}
button,
input,
select	{
	overflow: visible;
	}
button,
select {
  text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"]	{
	cursor: pointer;
	}
[disabled]	{
	cursor: default;
	}
button,
html [type="button"],
[type="reset"],
[type="submit"]	{
	-webkit-appearance: button;
	}

button::-moz-focus-inner,
input::-moz-focus-inner	{
	border: 0;
	padding: 0;
	}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset	{
	border: ;
	margin: 0;
	padding: 0;
	}
textarea	{
	overflow: auto;
	}

[type="checkbox"],
[type="radio"]	{
	box-sizing: border-box; /* 1 */
	-ms-box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	}


/* ==========================================================================
	etc
   ========================================================================== */

b, strong	{
	font-weight: inherit;
	}

b, strong	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: bolder;
	font-size: 100%;
	vertical-align: baseline;
	}

img	{
	vertical-align: middle;
	border: 0;
	border-style: none; /* 1 */
	}

p, li, dt, dd, th, td	{
	-ms-line-break: strict; /* 厳密な禁則処理 */
	line-break: strict; /* 厳密な禁則処理 */
	-ms-word-break: break-strict; /* 厳密な禁則処理 */
	word-break: break-strict; /* 厳密な禁則処理 */
	-ms-word-wrap: break-word; /* 単語内での改行 */
	word-wrap: break-word; /* 単語内での改行 */	
	}
	
ol, ul	{
	list-style: none;
	list-style-type: none;
	}
	
table	{
    border-collapse: collapse;
    border-spacing: 0;
	}

hr {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	height: 0;
	overflow: visible;
	}


/* =============================================================================
   表示領域が768px以下の場合に適用するスタイル
   ========================================================================== */
@media only screen and (max-width: 768px) {
img	{
	max-width: 100%;
	}
iframe	{
	max-width: 100%;
	}
}